.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {

    &--name {
      display: inline-block;
      height: #{scaleValue(30)};
      width: #{scaleValue(40)};
      position: relative;
      cursor: pointer;
      
      & figure {
          position: absolute;
          top: #{scaleValue(-30)};;
          left: #{scaleValue(-70)};;
          height: #{scaleValue(150)};
          width: #{scaleValue(350)};
      }
      & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
      }

      @media only screen and (max-width: 414px) { 
        width: #{scaleValue(800)};
        height: #{scaleValue(500)};
        transform: translateX(#{scaleValue(-89)}) translateY(#{scaleValue(-95)});

        & figure {
            height: 100%;
            width: 100%;
            
            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
      }
    }
  }

  &__right {
      position: relative;
      display: flex;
      align-items: center;
      transform: translateY(#{scaleValue(-8)});
      z-index: 1;
      font-size: #{scaleValue(27)};

      & span {
          display: inline-block;
          cursor: pointer;

          &.social {
            margin-left: #{scaleValue(50)};

            @media only screen and (max-width: 414px) { 
              transform: translateX(#{scaleValue(-1000)}) translateY(1rem);

            }
          }
      }
  }
}